<form action="/edit_skills" method="post">
What is the name of your skill?<br>
<input type="text" name="name" placeholder="name of skill"><br><br>

Have you had formal training in this skill?<br>
<input type="radio" name="formal" value="true">Yes<br>
<input type="radio" name="formal" value="false">No<br><br>

Years of experience:<br> <input type="integer" name="years" placeholder="years of experience"><br><br>

Is this skill technical or creative?<br>
<input type="radio" name="context" value="technical">Technical<br>
<input type="radio" name="context" value="creative">Creative<br><br>

<input type="submit" value="Create New Skill">
</form>